<!DOCTYPE html>
<html lang="en-US">
<head>
<title>UMD Astronomy Observatory: Search</title><!--#include virtual="/openhouse/css-n-includes/1begin.inc"-->
</head>

<body>

<div id="page-background-middle-texture">
	<div id="page-background-glare-wrapper">
	<div id="page-background-glare"></div>
	</div>
<div id="main"><!--#include virtual="/openhouse/css-n-includes/2header.inc"--><!--#include virtual="/openhouse/css-n-includes/3menu.inc"-->
<div class="box sheet">
<div class="box-body sheet-body">

<div class="layout-wrapper">
<div class="content-layout">
<div class="content-layout-row">

<div class="layout-cell content">
	<div class="box post">
		<div class="box-body post-body">
			<div class="post-inner article">
			<h2 class="postheader">New Page</h2>
				<div class="postcontent">
				
				<!-- %%%%%%%%%%%%%%%%%%%%%%%%%% BEGIN TEMP BOX HERE %%%%%%%%%%%%%%%%%%%%%%%%%% --><div class="content-layout-wrapper layout-item-0">
	<div class="content-layout layout-item-1">
		<div class="content-layout-row">
			<div class="layout-cell layout-item-2" style="width: 100%;">
<!-- %%%%%%%%%%%%%%%%%%%%%%%%% BEGIN TEMP CONTENT HERE %%%%%%%%%%%%%%%%%%%%%%%%% -->
<h3>The UMD Astronomy Observatory Remains Closed</h3>
<p>Fall 2024 Update: The UMD Astronomy Observatory remains closed to all public outreach activities.</p>
<!-- %%%%%%%%%%%%%%%%%%%%%%%%%% END TEMP CONTENT HERE %%%%%%%%%%%%%%%%%%%%%%%%%% -->
			</div><!-- close layout-cell layout-item-2 -->
		</div><!-- close content-layout-row -->
	</div><!-- close content-layout layout-item-1 -->
</div><!-- close content-layout-wrapper layout-item-0 -->
<!-- %%%%%%%%%%%%%%%%%%%%%%%%%% END TEMP BOX HERE %%%%%%%%%%%%%%%%%%%%%%%%%% -->

				<!-- %%%%%%%%%%%%%%%%%%%%%%%%% BEGIN MAIN CONTENT HERE %%%%%%%%%%%%%%%%%%%%%%%%% --><!-- %%%%%%%%%%%%%%%%%%%%%%%%%% END MAIN CONTENT HERE %%%%%%%%%%%%%%%%%%%%%%%%%% -->
				</div><!-- close postcontent -->
			<div class="cleared"></div>
			</div><!-- close post-inner article -->
		<div class="cleared"></div>
		</div><!-- close box-body post-body -->
	</div><!-- close box post -->
<div class="cleared"></div>
</div><!-- close layout-cell content -->

<div class="layout-cell sidebar2">
	<!--#include virtual="/openhouse/css-n-includes/block-news.inc"-->
	<!--#include virtual="/openhouse/css-n-includes/block-local.inc"-->
	<!--#include virtual="/openhouse/css-n-includes/block-CSC.inc"-->
	<!--#include virtual="/openhouse/css-n-includes/block-aurora.inc"-->
	<div class="cleared"></div>
</div><!-- close layout-cell sidebar2 -->

</div><!-- close content-layout-row -->
</div><!-- close content-layout -->
</div><!-- close layout-wrapper --><!--#include virtual="/openhouse/css-n-includes/4footer.inc"-->

<div class="cleared"></div>
</div><!-- close box-body sheet-body -->
</div><!-- close box sheet -->
<div class="cleared"></div>
<p class="page-footer">Updated: <!--#config timefmt="%d-%h-%Y" --><!--#echo var="LAST_MODIFIED" --></p>
<div class="cleared"></div>
</div><!-- close main -->
</div><!-- close page-background-middle-texture -->

</body>
</html>
